{% extends 'basic.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}

    <div class="container mt-3">
        <form method="get">
            {% csrf_token %}
            {% for x in qurstion %}
            <div class="input-group my-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ x.id }}</span>
                </div>
                <label type="text" class="form-control" aria-label="Text input with dropdown button">
                    {{ x.question }}
                </label>
                <div class="input-group-append">
                    <select name="ans" class="custom-select mx-sm-2" id="inlineFormCustomSelectPref">
                        <option value="">Choose...</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>

                </div>
            </div>
            {% endfor %}
        <input type="submit">

        </form>
    </div>
{% endblock %}